header {
    border: solid;
    text-align: center;
}

#main-container {
    display: flex;
    border: solid;
    justify-content: center;
}

#feed {
    section {
        display: flex;
        flex-direction: column;
        div {
            border: solid;
        }
    }
}

#responded-ticket {
    border: solid;
    margin: 5px;
}

#ticket-while-response {
    border: solid;
    div {
        border: solid;
        button {
            display: none;
        }
    }

}