header {
    display: flex;
    align-items: center;
    border: solid;
    text-align: center;
    height: 40px;
    justify-content: right;
    h1 {
        width: 100%;
        position: fixed;
    }
}

#main-container {
    display: flex;
    border: solid;
    border-top: none;
    justify-content: center;
    div {
        width: 60vw;
    }
}

#feed {
    &-buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    section {
        display: flex;
        flex-direction: column;
        .container {
            border: solid;
            margin: 3px;
        }
    }
}

#review {
        &-content {
            display: flex;
        }
    }

#responded-ticket {
    border: solid;
    margin: 5px;
    width: auto;
}

#ticket-while-response {
    border: solid;
    width: initial;
    div {
        border: solid;
        button {
            display: none;
        }
    }

}

#posts {
    div {
        border: solid;
        div {
        border: none;
        div {
            border: solid;
        }
            button {
                display: none;
            }
        }
    }
}

// #followed {
//     border: solid;
//     display: flex;
//     align-items: center
// }

#follow-page {
    h2 {
        text-align: center;
    }
    div div {
        border: solid;
        display: flex;
        align-items: center;
    }
    form {
        display: flex;
        justify-content: space-between;
    }
}