header {
    display: flex;
    align-items: center;
    border: solid 1px;
    text-align: center;
    height: 40px;
    justify-content: right;
    h1 {
        width: 100%;
        position: absolute;
    }
    nav {
        z-index: 4;
    }
}

h2 {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
}

// h3, h2 {
//     font-weight: lighter;
// }

#main-container {
    display: flex;
    border: solid 1px;
    border-top: none;
    justify-content: center;
    padding: 10px;
    div {
        width: 60vw;
    }
}

#feed {
    &-buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container {
        border: solid 1px;
        margin: 5px;
    }

    #review-date, #ticket-date {
        width: 30%;
    }

    #responded-ticket {
        width: auto;
    }

}

#review {
    display: flex;
    &-content {
        flex-direction: column;
    }
    &-date {
        text-align: right;
    }
}

#ticket {
    display: flex;
    &-content {
            flex-direction: column;
        }
    &-date {
        text-align: right;
        }
    &-buttons {
        text-align: right;
        button {
            margin: 5px;
        }
    }
}

#responded-ticket {
    border: solid 1px;
    margin: 5px;
    width: auto;
}

#posts {
    .container {
        border: solid 1px;
        margin: 5px;
        &-buttons {
            margin-top: 5px;
            margin-bottom: 3px;
            text-align: right;
            display: inline-flex;
            justify-content: right;
            button {
                margin: 5px;
            }
        }
    }

    #review-date, #ticket-date {
        width: 30%;
    }

    #responded-ticket {
        width: auto;
    }
    #ticket-buttons {
        display: none;
    }
}

// #followed {
//     border: solid;
//     display: flex;
//     align-items: center
// }

#follow {
    &ed {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
        border: solid 1px;
        p {
            outline: solid 1px;
            margin: unset;
            padding: 5px;
        }
        a {
            text-align: center;
            padding: 5px;
        }
    }
    &ers {
        p {
            margin: auto;
            padding: 5px;
            border: solid 1px;
        }
    }
    form {
        display: grid;
        grid-template-columns: 3fr 1fr;
        text-align: center;
        label {
            display: none;
        }
        input {
            height: 25px;
            width: 80%;
            text-align: center;
        }
        button {
            height: 30px;
            align-self: center;
        }
    }
}

#signup {
    text-align: center;
    ul, .helptext {
        display: none;
    }
    form p label {
        display: none;
    }
    input {
        text-align: center;
        width: 100%;
    }
    button {
        float: right;
        margin: 5px;
    }
}

.error {
    color: red;
}

#login, #login-signup {
    text-align: center;
    form {
        p label {
        display: none;
        }
        button {
            float: right;
        }
    }
    input {
        text-align: center;
    }
}

#create-ticket, #edit-ticket {
    form p {
        display: grid;
    }
    button {
        float: right;
    }
}

#create-review-response, #edit-review, #create-review {
    h3 {
        margin: 0px;
    }
    &-ticket {
        border: solid 1px;
        p {
            display: grid;
            margin: 10px;
        }
        #ticket {
            border: solid 1px;
            margin: 10px;
            width: auto;
            &-buttons {
                display: none;
            }
        }
    }
    &-review {
        border: solid 1px;
        padding-bottom: 40px;
        p {
            display: grid;
            margin: 10px;
        }
        button {
            float: right;
            margin: 5px;
        }
    }
    #id_rating {
        display: flex;
    }
}
