<!DOCTYPE html>
{% load static %}
{% load review_extras %}

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    </head>

    <body>
      <header>
        <h1>LITReview</h1>
          {% if request.user.is_authenticated %}
          <nav>
              <a href="{% url 'feed' %}">Flux</a>
              <a href="{% url 'posts' %}">Posts</a>
              <a href="{% url 'follows' %}">Abonnements</a>
              <a href="{% url 'logout' %}">Se déconnecter</a>
          </nav>
          {% endif %}
      </header>

      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </p>
      {% endfor %}

        <div id="main-container">
            {% block content %}
            {% endblock %}
        </div>
    <p id="credit">
        Photo de <a href="https://unsplash.com/@syinq?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Susan Q Yin</a> sur <a href="https://unsplash.com/fr/photos/2JIvboGLeho?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
    </body>
</html>