{% load review_extras %}

<div id="review">
    <div id="review-content">
        <p>{% get_poster_display review.user %} a publié une critique</p>
        <h3>{{ review.headline }} -
            {% autoescape off %}
                {% get_review_stars_display review.rating %}
            {% endautoescape %}
        </h3>
        <p>{{ review.body }}</p>
    </div>


    <div id="review-date">
        <p>{% get_posted_at_display review.time_created %}</p>
    </div>
</div>

<div id="responded-ticket">
    <p>Ticket - {{ review.ticket.user }}</p>
    <p>{{ review.ticket.title }}</p>
    {% if review.ticket.image %}
        <img src="{{ review.ticket.image.url }}">
    {% endif %}
</div>
