{% load review_extras %}

<div id="ticket">
    <div id="ticket-content">
        <p>{% get_poster_display ticket.user %} {% get_verb_display ticket.user %} demandé une critique</p>

        <h3>{{ ticket.title }}</h3>

        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
        {% endif %}
    </div>

    <div id="ticket-date">
        <p>{% get_posted_at_display ticket.time_created %}</p>
    </div>
</div>

{% if ticket.id not in tickets_responded %}
<div id="ticket-buttons">
    <form action="{% url 'create-review-response' ticket.id %}">
        <button>Créer une critique</button>
    </form>
</div>
{% endif %}