<div>
    {% if request.user == ticket.user %}
        <p>Vous avez demandé une critique</p>
    {% else %}
        <p>{{ ticket.user }} a demandé une critique</p>
    {% endif %}
    <p>{{ ticket.time_created }}</p>
    <a href="{% url 'ticket-detail' ticket.id %}">
        <h2>{{ ticket.title }}</h2>
    </a>

    <div>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
        {% endif %}
        <a href="{% url 'create-review-response' ticket.id %}">
            <button>Créer une critique</button>
        </a>
    </div>
</div>