{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'authentication/style.css' %}" />
{% endblock %}

{% block content %}
<div id="create-review">
    <h2>Créer une critique</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="create-review-ticket">
            <h4>Livre / Article</h4>
            <div id="create-review-ticket-form">
                {{ ticket_form.as_p }}
            </div>
        </div>



        <div id="create-review-review">
            <h4>Critique</h4>
            <div id="review-form">
                {{ review_form.as_p }}
                <button type="submit" >Envoyer</button>
            </div>
        </div>
    </form>
    <button id="upload-button">Télécharger fichier</button>

</div>

{% endblock %}