{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'authentication/style.css' %}" />
{% endblock %}

{% block content %}

<div id="create-review-response">
    <h2>Créer une critique</h2>
    <div id="create-review-response-ticket">
        <h4>Vous êtes en train de poster en réponse à</h4>
        {% include "review/partials/ticket_snippet.html" %}
        <button id="upload-button">Télécharger fichier</button>
    </div>

    <div id="create-review-response-review">
        <h4>Critique</h4>
        <form method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" >Envoyer</button>
        </form>
    </div>

</div>

{% endblock %}