{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'authentication/style.css' %}" />
{% endblock %}

{% block content %}
<div id="create-review">
    <h2>Créer une critique</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="create-review-ticket">
            <h3>Livre / Article</h3>
            {{ ticket_form.as_p }}
            <button id="upload-button">Télécharger fichier</button>
        </div>


        <div id="create-review-review">
            <h3>Critique</h3>
                {{ review_form.as_p }}
            <button type="submit" >Envoyer</button>
        </div>
    </form>

</div>

{% endblock %}