{% extends "base.html" %}
{% load review_extras %}

{% block content %}
<div id="feed">
    <div id="feed-buttons">
        <form action="{% url 'create-ticket' %}">
            <button type="submit">Demander une critique</button>
        </form>
        <form action="{% url 'create-review' %}">
            <button type="submit">Créer une critique</button>
        </form>
    </div>

    {% for post in page_obj %}
        <div class="container">
            {% if post|model_type == "Ticket" %}
                {% include "review/partials/ticket_snippet.html" with ticket=post %}
            {% endif %}

            {% if post|model_type == "Review" %}
                {% include "review/partials/review_snippet.html" with review=post %}
            {% endif %}
        </div>
    {% endfor %}

    <div id="paginator">
        {% if page_obj.has_previous %}
            <a href="?page=1">« Première</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
        {% endif %}

        <span>
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.

        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivante</a>

            <a href="?page={{ page_obj.paginator.num_pages }}">Dernière »</a>
        {% endif %}
    </div>

</div>
{% endblock %}