{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'authentication/style.css' %}" />
{% endblock %}

{% block content %}
<div id="follow">
    <div>
        <h2>Suivre d'autres utilisateurs</h2>
        {% if errors %}
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Envoyer</button>
        </form>
    </div>

    <div>
        <h2>Abonnements</h2>
        {% if follows %}
            {% for follow in follows %}
                <div id="followed">
                    <p>{{ follow.followed_user }}</p>
                    <a href="{% url 'delete-follow' follow.id %}">Désabonner</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Vous ne suivez pas encore d'utilisateurs.</p>
        {% endif %}
    </div>

    <div>
        <h2>Abonnés</h2>
        {% if followers %}
            {% for follower in followers %}
                <div id="followers">
                    <p>{{ follower.user }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Personne ne vous suit.</p>
        {% endif %}
    </div>
</div>

{% endblock %}