<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <h1>Utilisateurs suivis</h1>
        {% if follows %}
            {% for follow in follows %}
                <p>{{ follow.user }} suit {{ follow.followed_user }}</p>
                <a href="{% url 'delete-follow' follow.id %}">Supprimer</a>
            {% endfor %}
        {% else %}
            <p>Vous ne suivez pas encore d'utilisateurs.</p>
        {% endif %}
    </section>
</body>
</html>