<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <h2>{{ ticket.title }}</h2>
    <p>Créé le {{ ticket.time_created }} par {{ ticket.user.username }}</p>
    <div>
        <p>Description: {{ ticket.description }}</p>
        <p>Image:
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}">
            {% endif %}
        </p>
        <a href="{% url 'update-ticket' ticket.id %}">Modifier le ticket</a>
        <a href="{% url 'delete-ticket' ticket.id %}">Supprimer le ticket</a>
        <a href="{% url 'create-review-response' ticket.id %}">Créer une critique en réponse</a>
    </div>
</section>

</body>
</html>