{% extends "base.html" %}

{% block content %}
<div id="edit-review">

    <h2>Modifier votre critique</h2>
    <div id="edit-review-ticket">
        <h4>Vous êtes en train de poster en réponse à</h4>
        {% include "review/partials/ticket_snippet.html" with ticket=review.ticket %}
    </div>

    <div id="edit-review-review">
        <h4>Critique</h4>
        <form id="review-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Envoyer</button>
        </form>
    </div>

</div>

{% endblock %}