{% extends "base.html" %}

{% block content %}
<div id="edit-ticket">
    <h2>Modifier votre ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if ticket.image %}
        <span>Image :</span>
        <img src="{{ ticket.image.url }}">
        {% endif %}
        <div>
            <input type="file" name="image" id="id_image" accept="image/*">
            <button type="submit">Envoyer</button>
        </div>
    </form>

    <button type="file" id="upload-button">Télécharger fichier</button>
</div>

{% endblock %}