{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'authentication/style.css' %}" />
{% endblock %}

{% block content %}
<div>
  <h2>Inscrivez-vous maintenant</h2>
  <a href="{% url 'signup' %}">
    <button>S'inscrire</button>
  </a>
</div>

<div>
  <h2>Connectez-vous</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Se connecter</button>
  </form>
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
</div>

{% endblock %}